apiVersion: apps/v1
kind: Deployment
metadata:
  name: asdn-project
  labels:
    app: asdn-project
spec:
  replicas: 2
  selector:
    matchLabels:
      app: asdn-project
  template:
    metadata:
      labels:
        app: asdn-project
    spec:
      containers:
        - name: asdn-project
          image: grafanaw/asdn_project:1.0.2
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8000
          readinessProbe:
            httpGet:
              path: /health
              port: 8000
            initialDelaySeconds: 5
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /health
              port: 8000
            initialDelaySeconds: 10
            periodSeconds: 20
